/* Using !important so that the css popup stays the same across all websites */

/* SITS BENEATH palette_wrapper AND CLOSES MODAL ONCLICK */
.colorfy_modal__Colorfy{
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  overflow: auto !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10000980 !important;
  background-color: rgb(0,0,0) !important;
  background-color: rgba(0,0,0,0.4) !important;
}

.palette_wrapper__Colorfy {
  top: 15px !important;
  left: 15px !important;
  position: fixed !important;
  width: 50% !important;
  left:25% !important;
  padding: 10px !important;
  background-color: rgb(9, 92, 165) !important;
  border: 2px solid rgb(41, 41, 41) !important;
  border-radius: 10px !important;
  z-index: 10000990 !important;
  -webkit-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 20px 20px 30px 0px rgba(0,0,0,0.75) !important;
  max-height: calc(100vh - 25px) !important;
}

.colors_wrapper__Colorfy{
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between;
}

.colorfy_logo__Colorfy{
  background: white !important;
  width: 60px;
  padding: 2px !important;
  border-radius: 5px !important;
}

/* X BUTTON */
.closeColorfy__Colorfy{
  cursor: pointer !important;
  font-family: Arial !important;
  line-height: initial !important;
  color: #aaa !important;
  width: 2em !important;
  float: right !important;
  margin-top: 5px !important;
  text-align: center !important;
  font-size: 40px !important;
  font-weight: bold !important;
}

/* INDIVIDUAL PALETTES */
.palette__Colorfy{
  padding: 10px !important;
  margin: 5px !important;
  width: 40% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  min-width: 260px;
  justify-content: center !important;
  height: 100% !important;
}

/* NAMES OF PALETTES */
.palette_info__Colorfy {
  width: 100% !important;
  font-family: Arial !important;
  line-height: initial !important;
  font-size: 30px !important;
  margin: 5px 5px 15px 5px !important;
  border-bottom: 2px solid white !important;
  color: azure !important;
  text-align: center !important;
}

/* HIDE RADIO */
.palette__Colorfy > div > label > [type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

/* IMAGE STYLES */
.palette__Colorfy > div > label > [type="radio"] + p {
  cursor: pointer !important;
}

/* CHECKED STYLES */
.palette__Colorfy > div > label > [type="radio"]:checked + p {
  outline: 3px solid #f00 !important;
}

/* WRAPPER DIV FOR PRESET COLORS */
.colorfy_preset_colors__Colorfy {  
  width: 100% !important;
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

/* ALL COLORS ON PALETTE */
.colorfy_color__Colorfy {
  border: 3px solid gray !important;
  width: 30px !important;
  height: 30px !important;
  margin: 5px !important;
  border-radius: 5px !important;
}

.colapse_button__Colorfy{
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  color: azure !important;
}

.colorfy_submit__Colorfy {
  box-shadow: inset 0px 1px 3px 0px #91b8b3 !important;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%) !important;
  background-color: #768d87 !important;
  border-radius: 5px !important;
  border: 1px solid #566963 !important;
  display: inline-block !important;
  cursor: pointer !important;
  color: #ffffff !important;
  font-family: Arial !important;
  line-height: initial !important;
  font-size: 20px !important;
  font-weight: bold !important;
  padding: 11px 23px !important;
  text-decoration: none !important;
  text-shadow: 0px -1px 0px #2b665e !important;
  height: 40px !important;
  order: 5 !important;
  margin: 10px calc(50% - 40px) 10px calc(50% - 40px) !important;
}

.colorfy_submit__Colorfy:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%) !important;
  background-color: #6c7c7c !important;
}

.colorfy_submit__Colorfy:active {
  position: relative !important;
  top: 1px !important;
}

.saved_items_button__Colorfy{
  width: 35px !important;
  height: 35px !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  cursor: pointer !important;
  color: white !important;
  margin-left: 97% !important;
}

.options_wrapper__Colorfy{
  display: none;
  height: 400px !important;
  width: 100% !important;
  background: white !important;
  padding-top: 20px !important;
  overflow: auto !important;
}

.close_options__Colorfy{
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
  cursor: pointer !important;
  color: black !important;
}

.saved_items_wrapper__Colorfy{
  display: flex !important;
  flex-wrap: wrap !important;
  width: 90% !important;
  margin: 10px auto !important;
  max-height: 100% !important;
}

.saved_element_input__Colorfy{
  width: calc(100% - 100px) !important;
  margin: 10px !important;
  height: 120px;
}

.delete_saved_button__Colorfy{
  width: 35px !important;
  height: 35px !important;
  border: 3px solid midnightblue !important;
  padding: 5px !important;
  border-radius: 5px !important;
  background: none !important;
  margin: 10px !important;
  cursor: pointer !important;
}

.manual_input_wrapper__Colorfy{
  display: none;
  flex-wrap: wrap !important;
  width: 50% !important;
  margin: auto !important;
  border: 5px solid rgba(28,110,164,0.65) !important;
  border-radius: 24px !important;
  padding: 0 10px 10px 10px !important;
}

.manual_input_elment__Colorfy{
  background: lightcyan !important;
  width: 100% !important;
}

.input_label__Colorfy{
  margin-top: 10px !important;
  color: black !important;
}

.manual_buttons_wrapper__Colorfy{
  width: 100% !important;
  margin-top: 10px !important;
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
}

.manual_input_cancel__Colorfy, .manual_input_add__Colorfy{
  border: 3px solid midnightblue !important;
  padding: 5px !important;
  border-radius: 5px !important;
  margin: 5px !important;
  width: 35px !important;
  text-align: center !important;
  cursor: pointer !important;
}

.manual_input_add__Colorfy{
  color: green !important;
}

.manual_input_cancel__Colorfy{
  color: red !important;
}

.manual_input_show__Colorfy{
  width: 35px !important;
  padding: 10px !important;
  text-align: center !important;
  color: black !important;
  margin: auto !important;
  cursor: pointer !important;
}

/* WRAPPER FOR DEFAULT AND CUSTOM COLORS */
.individual_color_wrapper__Colorfy{
  width: 100% !important;
  margin: auto !important;
  display: flex !important;
  justify-content: center !important;
}

.colorfy_custom_color__Colorfy {
  width: 80% !important;
  display: flex !important;
  margin: 0 10%;
  font-size: 20px !important;
  flex-wrap: wrap !important;
  padding: 5px !important;
  height: auto !important;
  font-weight: bold !important;
  justify-content: space-around !important;
  align-items: center !important;
  color: black !important;
  font-family: Arial !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.colorfy_default_color__Colorfy{
  width: 80% !important;
  font-size: 20px !important;
  margin: 5px auto !important;
  width: fit-content !important;
  padding: 5px !important;
  height: auto !important;
  font-weight: bold !important;
  color: black !important;
  font-family: Arial !important;
}

/* WARNING THAT APPEARS WHEN TRYING TO CHANGE IFRAME */
.colorfy_impossible__Colorfy{
  position: fixed !important;
  background-color: white !important;
  width: 100% !important;
  text-align: center !important;
  z-index: 10000000000 !important;
  color: red !important;
  top: 3px !important;
  font-size: 30px !important;
  font-weight: 30px !important;
  padding: 3px 20px !important;
}